{% extends 'base.html' %} {% block title %}Contact us{% endblock title %} {%
block content %}

<form
  action=""
  method="post"
  class="w-100 p-5"
  style="
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background: url(../static/images/Phone\ PNG.png);
    background-size: 10rem;
    background-repeat: no-repeat;
    background-position: -1rem bottom;
    border-top: 3px solid darksalmon;
  "
>
  <h1 class="text-muted">Contact</h1>
  {{ form.hidden_tag() }} {% if user.is_authenticated %}

  <!-- For Full name validations -->

  {{ form.fullname(class="form-control p-3 mt-4 bg-white", required=False,
  placeholder="Enter Full Name", value=user.last_name.title() + ' ' +
  user.first_name.title() , **{ 'disabled':'true' } ) }}

  <!-- For Emails validations -->
  {{ form.email(class="form-control p-3 mt-4 bg-white", required=False,
  placeholder="Enter email",value=user.email , **{ 'disabled':'true' }) }} {%
  else %}

  <!-- For Full name validations -->
  {% if form.fullname.errors %} {{ form.fullname(class="form-control p-3 mt-4",
  required=False, placeholder="Enter Full Name") }} {% for error in
  form.fullname.errors %}
  <small class="text-danger">{{ error }}</small>
  {% endfor %} {% else %} {{ form.fullname(class="form-control p-3 mt-4",
  required=False, placeholder="Enter Full Name") }} {% endif %}

  <!-- For Emails validations -->
  {% if form.email.errors %} {{ form.email(class="form-control p-3 mt-4",
  required=False, placeholder="Enter email") }} {% for error in
  form.email.errors %}
  <small class="text-danger">{{ error }}</small>
  {% endfor %} {% else %} {{ form.email(class="form-control p-3 mt-4",
  required=False, placeholder="Enter email") }} {% endif %} {% endif %}

  <!-- For message validations -->
  {% if form.message.errors %} {{ form.message(class="form-control p-3 mt-4
  lead", required=False, placeholder='Enter message') }} {% for error in
  form.message.errors %}
  <small class="text-danger">{{ error }}</small>
  {% endfor %} {% else %} {{ form.message(class="form-control p-3 mt-4 lead",
  required=False, placeholder='Enter message') }} {% endif %}

  <!-- For submit button -->
  {{ form.submit(size=20, class='btn btn-success mt-4 w-100 p-2')}}

  <p class="mt-4 text-center lead text-muted">Contact us</p>
  <div class="d-flex align-items-center justify-content-center">
    <a
      href="https://github.com/engrmarkk"
      class="h4 text-white bg-dark p-2 mx-3 rounded social"
      target="_blank"
      ><i class="fa fab fa-github"></i
    ></a>
    <a
      href="https://twitter.com/iamengrmark"
      class="h4 text-white mx-3 bg-primary p-2 rounded social"
      target="_blank"
      ><i class="fa fab fa-twitter"></i
    ></a>
    <a
      href="mailto:atmme1992@gmail.com"
      class="h4 text-white mx-3 p-2 bg-danger rounded social"
      target="_blank"
      ><i class="fa fab fa-google-plus-g"></i
    ></a>
  </div>
</form>

{% endblock content %}
