{% extends 'base.html' %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/account.css') }}"
/>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='javascript/jquery-3.6.1.min.js') }}"
></script>
<script
  src="{{ url_for('static', filename='javascript/account.js') }}"
  defer
></script>
{% endblock head %} 
{% block title %}{{ post.author.username.title() }}'s post{% endblock title %}
{% block content %} 

<button class="d-flex text-muted mb-4"
style="border: none;
background: none;
"
onclick="history.back()"
><i class="fa fas fa-backspace text-muted h4"></i>&nbsp; Go back</button>
{% if post.user_id == user.id %}
<!-- if the user is active -->
<div
  class="card p-4"
  style="
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-top: 5px solid yellowgreen;
  "
>
  <div class="d-flex align-items-center">
    <img
      style="width: 4rem"
      src="{{ url_for('static', filename='images/user.png') }}"
      alt=""
    />
    <div class="mx-3 d-flex flex-column">
      <a
        href="{{ url_for('profile', profile_id=post.author.id) }}"
        class="text-decoration-none text-secondary"
      >
        <span class="h5 text-info"
          >{{ post.author.first_name.upper() }} {{ post.author.last_name.upper()
          }}
        </span>
      </a>
      <small class="text-muted fw-normal"
        >{{ post.date_posted.strftime('%Y-%m-%d') }}</small
      >
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-between">
    <p
      class="h4 text-decoration-none text-dark card-title mt-4"
      style="width: fit-content"
    >
      {{ post.title.title() }}
    </p>
    <div class="d-flex align-items-center flex-row-reverse part">
      <i class="fa fas fa-ellipsis-h h3 toggler" style="cursor: pointer"></i>
      <div class="card p-3 mx-3 hide">
        <form
          action="{{ url_for('delete_post', post_id=post.id) }}"
          method="post"
          class="d-flex align-items-center text-danger justify-content-around"
        >
          <input
            type="submit"
            value="Delete"
            onclick="return confirm('Are you sure yo want to delete this post')"
            style="background: none; border: none"
            class="text-danger"
          /><i class="fa fas fa-trash-alt"></i>
        </form>
        <hr style="border: 1px solid white" />
        <a
          href="{{ url_for('update_post', post_id=post.id) }}"
          class="d-flex align-items-center text-danger justify-content-around text-decoration-none fw-normal text-light"
          >Update &nbsp; <i class="fa fa-pen-square text-light"></i
        ></a>
      </div>
    </div>
  </div>
  <hr />
  <p class="card-text">{{ post.content }}</p>
</div>

{% else %}
<!-- if the user is not active -->

<div class="card p-4" style="box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px">
  <div class="d-flex align-items-center">
    <img
      style="width: 4rem"
      src="{{ url_for('static', filename='images/user.png') }}"
      alt=""
    />
    <div class="mx-3 d-flex flex-column">
      <a
        href="{{ url_for('profile', profile_id=post.author.id) }}"
        class="text-decoration-none text-secondary"
      >
        <span class="h5 text-info"
          >{{ post.author.first_name.upper() }} {{ post.author.last_name.upper()
          }}
        </span>
      </a>
      <small class="text-muted fw-normal"
        >{{ post.date_posted.strftime('%Y-%m-%d') }}</small
      >
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-between">
    <p
      class="h4 text-decoration-none text-dark card-title mt-4"
      style="width: fit-content"
    >
      {{ post.title.title() }}
    </p>
  </div>
  <hr />
  <p class="card-text">{{ post.content }}</p>
</div>

{% endif %} {% endblock content %}
