{% extends 'base.html' %} 
{% block title %}Reset Password Page{% endblock title %}
{% block content %}

<form
  action=""
  method="post"
  class=" p-5 mb-5"
  style="
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-top: 7px solid lightgreen;
  margin: auto;
    "
>
    <small class="h4 text-muted">
        Please enter your reset token
    </small>
  {{ form.hidden_tag() }}

   <!-- For Token validations -->
  <!-- {{ form.token.label(class='label') }} -->
  {% if form.token.errors %} {{ form.token(class="form-control p-3 mt-4",
  required=False, placeholder="Enter token") }} {% for error in
  form.token.errors %}
  <small class="text-danger mt-1"><i class="fa fas fa-exclamation-circle"></i>&nbsp;&nbsp;{{ error }}</small><br>
  {% endfor %} {% else %} {{ form.token(class="form-control p-3 mt-4",
  required=False, placeholder="Enter token") }} {% endif %}

  <input type="submit" value="Submit" class="btn btn-success mt-3">
  </form>
  {% endblock content %}